.content .title-page{position: absolute; right: -30px; background-color: blue; padding: 10px 30px}
.inside-content {border: 1px solid grey; position:relative; padding-top: 20px; padding-bottom: 20px;}
.inside-content .btn{margin-left: 15px;}
.table{border: solid grey; border-width: 1px 0;}
.descript{margin-bottom: 20px;padding-left: 15px;}
.table td,.table th{border: solid grey; border-width: 0 1px 0 0;}
.table td:last-child,.table th:last-child{border-width: 1px 0 0;}